div{
    width: 30vw;
    height: 30vh;
    border: solid;
    position: relative;
}

section{
    position: absolute;
    top: 70%;
    width: 30%;
    height: 30%;
    background-color: yellow;
    transition: all 5s;
}
section:hover{
    top: 0;
    background-color:red ;
    border-radius: 50%;
}