section{
    width: 30vw;
    height: 30vh;
    border: solid red;
   position: relative;
   
}
div{
    position: absolute;
    bottom: 70%;
    width:30% ;
    height: 30%;
    border: solid;
    transition: 5s;
}
div:hover{
    top: 0;
    background-color: black;
}