header{
    text-align: center;
    color: blueviolet;
}
body{
    flex: auto;
    background-color: blanchedalmond;
}

ul img{
    width: 100px;
}
#flag{
    width: 300px;
}
table img{
    width: 50px;
}
h2{
    text-align: right;
}
p{
    color: rgb(29, 180, 49);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    font-size: larger;
    color: darkorchid;
}
.scroll{
    display: flex;
    white-space: normal;
    padding: 10px;
    margin: 5%;
    border: 3px solid rgb(61, 18, 215);
}


main{
    display: auto;
    overflow: auto;
    
}
main .scroll{
    display: flex;
           
    overflow: auto;
}


