nav a{
    color: rgb(231, 68, 160);
}

#s1{
    text-align: right;
    color: rgb(51, 98, 58);
}
div{
    background-color: blueviolet;
}
#ha{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}